.img2 {
  width: 100%;
  height: 150px;
  background-color: rgb(177, 177, 177);
}

.img3 {
  width: 100%;
  height: 120px;
  background-color: rgb(177, 177, 177);
}

.img1 {
  width: 100%;
  height: 140px;
  background-color: rgb(177, 177, 177);
}

.rectangle {
  width: 100%;
  height: 250px;
  background-color: rgb(177, 177, 177);
}
